<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <h1 class="navtitle">CRUD OPERATION</h1>
    <!-- <div class="d-flex">
      <button class="btn btn-success">Add Users</button>
    </div> -->
  </div>
  <button class="btn btn-danger mx-3 float-right" (click)="logout()">
    Logout
  </button>
</nav>

<div class="table p-5">
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Student Email</th>
        <th scope="col">Student Mobile no</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of getemployeedata">
        <td>{{ row.firstname + " " + row.lastname }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.telnumber }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteProduct(row.id)">
            Delete
          </button>
          <button class="btn btn-info mx-3" (click)="editProduct(row)">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
